[package]
name = "normy"
version = "0.1.0"
edition = "2024"

[dependencies]
paste = "1.0.15"
phf = { version = "0.13.1", features = ["macros"] }
simdutf8 = { version = "0.1.5", optional = true }
thiserror = "2.0.17"


[features]
default = ["simd"]
simd = ["simdutf8"]
