[package]
name = "normy"
version = "0.1.0"
edition = "2024"

[dependencies]
html-escape = "0.2.13"
memchr = "2.7.6"
paste = "1.0.15"
phf = { version = "0.13.1", features = ["macros"] }
pulldown-cmark = { version = "0.13", default-features = false }
simdutf8 = { version = "0.1.5", optional = true }
smallvec = "1.15.1"
thiserror = "2.0.17"
unicode-normalization = "0.1.25"

[dev-dependencies]
proptest = "1.9.0"

[features]
default = ["simd", "ascii-fast"]
simd = ["simdutf8"]
ascii-fast = []


[profile.release]
lto = "fat"
codegen-units = 1
panic = "abort"
opt-level = "s"   # or "z" if binary size matters more than last 3%
